
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}
h1
h2
h3
h4
h5
h6
p {
    
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    margin: auto;
}
button {
    cursor: pointer;
}
address{
    font-style: normal;
}
.container {
    width: 1158px;
    margin: auto;
    padding: 0 15px;
    justify-content: space-between;
}
/*----------HEADER----------*/
.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);;
    border-bottom: 1px solid #e7e9fc;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo-pass {
    color: #2e2f42;
}
.header-logo-pass:hover,
.header-logo-pass:focus,
.header-logo-pass:active {
    color: #404bbf;
}
.header-menu {
    display: flex;
    gap: 40px;
    
}

.header-nav {
    display: flex;
    margin-right: auto;
    align-items: center;
}
.header-container {
    display: flex;
    
    align-items: center;
}
.header-menu-link {
    display: block;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
}
.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}
.header-menu-studio {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-studio::after {
    content: '';
        display: block;
        position: absolute;
        margin-top: 20px;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background: #404bbf;
    left: 0;
    bottom: -1px;
}
.header-menu-info {
    display: flex;
    gap: 40px;
}
.header-logo-info {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-logo-mobile {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.header-menu-info-inform {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-info-inform:hover,
.header-menu-info-inform:focus {
    color: #404bbf;
}
/*-------------HERO-------------*/
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    align-items: center;
    text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1440px;
        margin: 0 auto;
    
}


.hero-title {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin: 0 auto;
        max-width: 496px;
}
.hero-btn-link {
        border: none;
        border-radius: 4px;

        background-color: #4d5ae5;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        cursor: pointer;
        margin-top: 48px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        min-width: 169px;
        height: 56px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn-btn {
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
.hero-btn-link:hover,
.hero-btn-link:focus {
   background: #404bbf;
}
.middle {
    
    padding-top: 120px;
    padding-bottom: 120px;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.middle-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.middle-icon-link {
    display: flex;
 border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px; 
}
.middle-icon-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/icons.svg);
    fill: #2e2f42;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    width: 64px;
    height: 64px;
}

.middle-list-link {
    width: calc((100% - 72px) / 4);
}
.middle-list-link-name {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.middle-list-link-read {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.introduse{
    
    background: #f4f4fd;

    padding-top: 120px;
    padding-bottom: 120px;
}
.introduse-hero {
    display: flex;

    gap: 24px;
    
}
.introduse-name {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.introduse-hero-plus {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
    
}
.introduse-hero-hero {
    padding-top: 32px;
    padding-bottom: 32px;
}
.introduse-name-hero {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.introduse-name-about {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        text-align: center;
}
.icon-list {
    display: flex;
    gap: 24px;
    width: 232px;
        height: 40px;
        margin: auto;
        justify-content: center;
}
.icon-item {
    width: 40px;
    height: 40px;
        display: flex;
        align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link {
    display: flex;
    fill: #f4f4fd;
    border-radius:50%;
    align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover, .icon-link:focus {
    background-color: #404bbf;
}
.icon-icon {
    width: 16px;
    height: 16px;
}
.picture {
    
    padding-top: 120px;
    padding-bottom: 120px;

}
.picture-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}
.picture-list-title {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.picture-list-number {
    width: calc((100% - 48px) / 3); 
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.picture-list-number:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%); 
}
.picture-cover-cover {
    position: relative;
    overflow: hidden;
}
.picture-list-number:hover .picture-cover-text {
    transform: translateY(0%);
}
.picture-cover-text {
    position: absolute;
    top: 0;
    left: 0;
    background: #4d5ae5;
    height: 100%;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        margin: 0;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 40px;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 40px 32px;

}

.picture-list-name {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.picture-list-about {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/*------------FOOTER---------------*/

.footer-about-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 264px;
}

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.footer-about {
    flex-direction: column;
    background: #2e2f42;
    margin-right: 120px;

}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    color: #f4f4fd;
}

.footer-text:hover,
.footer-text:focus {
    color: #404bbf;
}

.footer-item {
    width: 40px;
    height: 40px;
}
.footer-list-soc {
    display: flex;
    gap: 16px;
        justify-content: center;
}

.footer-link {
    display: flex;
    fill: #f4f4fd;
    border-radius:50%;
    align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%;
        height: 100%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.footer-link:hover {
   background-color: #31d0aa;
}
.footer-link:focus {
    background-color: #31d0aa;
 }

.footer-icon-list {
flex-direction: column;
  
}
.social-media {

    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
margin-top: 0;
}


.addr{
    font-style: normal;
}